{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Barter | Add Barter Item</title>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/add_item.css' %}">
</head>
<body>
<!-- H E A D E R -->
<header class="header">
  <div class="logo" href="index.html">
    <img src="{% static 'image/logo.png' %}">
  </div>
</header>

<!-- M O B I L E   N A V I G A T I O N -->
<div class="mobile-nav">
  <div class="nav-icon">
    <i class="fa fa-bars nav-btn" id="nav-btn"></i>
  </div>
  <div class="mobile-nav--links" id="mobile-nav--links">
    <li>
      <a href="{% url 'profile' %}">
        <i class="fa fa-user" aria-hidden="true"></i> User Profile
      </a>
    </li>
    <li>
      <a href="{% url 'add_item' %}">
        <i class="fa fa-plus-square" aria-hidden="true"></i> Add Trade Item
      </a>
    </li>
    <li>
      <a href="{% url 'traded_items' %}">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i> Trade Bag
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-envelope" aria-hidden="true"></i> Message Inbox
      </a>
    </li>
    <li>
      <a href="{% url 'market' %}">
        <i class="fa fa-map-marker" aria-hidden="true"></i> Back to Market
      </a>
    </li>
    <li>
      <a href="{% url 'settings' %}">
        <i class="fa fa-cog" aria-hidden="true"></i> Profile Settings
      </a>
    </li>
    <li>
      <a href="{% url 'logout' %}">
        <i class="fa fa-sign-out" aria-hidden="true">Sign Out</i>
      </a>
    </li>
  </div>
</div>

<!-- S I D E B A R -->
<div id="sidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
  <li>
    <a href="{% url 'profile' %}">
      <i class="fa fa-user" aria-hidden="true"></i> User Profile
    </a>
  </li>
  <li>
    <a href="{% url 'add_item' %}">
      <i class="fa fa-plus-square" aria-hidden="true"></i> Add Trade Item
    </a>
  </li>
  <li>
    <a href="{% url 'traded_items' %}">
      <i class="fa fa-shopping-bag" aria-hidden="true"></i> Trade Bag
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-envelope" aria-hidden="true"></i> Message Inbox
    </a>
  </li>
  <li>
    <a href="{% url 'market' %}">
      <i class="fa fa-map-marker" aria-hidden="true"></i> Back to Market
    </a>
  </li>
  <li>
    <a href="{% url 'settings' %}">
      <i class="fa fa-cog" aria-hidden="true"></i> Settings
    </a>
  </li>
  <li>
    <a href="{% url 'logout' %}">
      <i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out
    </a>
  </li>
</div>

<!-- A D D   I T E M S   F O R M -->
<div id="content" class="content">
  <div class="small-container">
    <h2>Add Barter Item</h2>
    <form enctype="multipart/form-data" method="post" class="form">
      {{ form.non_field_errors }}
      <p class="field-container">
        <label for="{{ form.title.id_for_label }}">Title</label>
        {{ form.title }}
        {{ form.title.errors }}
      </p>
      <p class="field-container">
        <label for="{{ form.condition.id_for_label }}">Condition</label>
        {{ form.condition }}
        {{ form.condition.errors }}
      </p>
      <p class="field-container">
        <label for="{{ form.description.id_for_label }}">Description</label>
        {{ form.description }}
        {{ form.description.errors }}
      </p>
      <p class="field-container">
        <label for="{{ form.image.id_for_label }}">Image</label>
        {{ form.image }}
        {{ form.image.errors}}
      </p>
      <p><input type="submit" value="List item" class="submit-btn"></p>
      {% csrf_token %}
    </form>
  </div>
</div>

<!--
<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <p>
    {{ form.title }}
    {{ form.title.errors }}
  </p>
  <button type="submit">List Item</button>
</form>
-->

<script type="text/javascript">
  
document.getElementById('nav-btn').addEventListener('click', function() {
  document.getElementById('mobile-nav--links').classList.toggle('active');
})

// document.getElementById('file-input--input').addEventListener('change', function() {
//   document.getElementById('file-input--text').textContent = this.files.length + " file(s) selected";
// })

var mini = true;
var sidebar = document.getElementById('sidebar');
var content = document.getElementById('content');
function toggleSidebar() {
  if (mini) {
    // open sidebar
    sidebar.style.width = '180px';
    content.style.marginLeft = '180px';
    this.mini = false;
  } else {
    // close sidebar
    sidebar.style.width = '48px';
    content.style.marginLeft = '48px';
    this.mini = true;
  }
}
</script>
</body>
</html>