{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Barter | Login</title>
  <link rel="stylesheet" href="{% static 'css/account/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/account/navigation.css' %}">
  <link rel="stylesheet" href="{% static 'css/account/footer.css' %}">
  <link rel="stylesheet" href="{% static 'css/account/form.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
   
 <body>
<!-- N A V I G A T I O N -->
<div class="container">
  <div class="navigation-container">
    <div class="logo" href="{% url 'index' %}">
      <img src="{% static 'image/logo.png' %}" alt="logo" />
    </div>
    <nav class="navigation">
      <ul id="menu-items" class="navigation--links">
        <li class="navigation--link"><a href="{% url 'index' %}">Home</a></li>
        <li class="navigation--link"><a href="{% url 'market' %}">Market</a></li>
        <li class="navigation--link"><a href="#">Contact</a></li>
        <li class="navigation--link">
          <a href="{% url 'profile' %}">
            <img src="{% static 'image/icon/user.png' %}" alt="user" >
          </a>
        </li>
      </ul>
    </nav>
    <img src="{% static 'image/icon/menu.png' %}" alt="" class="menu-icon" onclick="menuToggle()">
  </div>
</div>

    <!--account page-->
    <div class="account-page">
        <div class="container">
            <div class="row">
                <img src="{% static 'image/background2.jpg' %}" alt="">
                <div class="form-container">
                    <h2>Reset Password</h2>
                    <div class="alert alert-info">
                     Your password has been set.
                    </div>
                   
                    <a class="redirect-link" href="{% url 'login' %}">Sign In Here </a>
                   
                </div>
            </div>
        </div>
    </div>
            
    
   <!--footer-->
   <div class="footer">
       <div class="container">
           <div class="row">
               <div class="footer-col-1">
                <h3>Online <em>Barter</em></h3>
                <p>Our Purpose Is To Sustainably Reduce Waste and Benefits to the Many.</p>
            </div>
            <div class="footer-col-2">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
             </div>
            <div class="footer-col-3">
               <h3>Follow us</h3>
               <ul>
                   <li>Facebook</li>
                   <li>Twitter</li>
                   <li>Instagram</li>
                   <li>Youtube</li>
               </ul>
            </div>
           </div>
           <hr>
           <p class="copyright">Copyright 2020 - CMT322 Group 5</p>
       </div>
   </div>
   <!--Js  Toggle Menu -->
   <script>
       var MenuItems = document.getElementById("MenuItems");

       MenuItems.style.maxHeight = "0px";

       function menutoggle(){
           if(MenuItems.style.maxHeight == "0px"){
            MenuItems.style.maxHeight = "300px";
           }else{
            MenuItems.style.maxHeight = "0px";
           }
       }
   </script>

    </body>
</html>