{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Barter | Settings</title>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/settings.css' %}">
</head>
<body>
<!-- H E A D E R -->
<header class="header">
  <div class="logo" href="index.html">
    <img src="{% static 'image/logo.png' %}">
  </div>
</header>

<!-- M O B I L E   N A V I G A T I O N -->
<div class="mobile-nav">
  <div class="nav-icon">
    <i class="fa fa-bars nav-btn" id="nav-btn"></i>
  </div>
  <div class="mobile-nav--links" id="mobile-nav--links">
    <li>
      <a href="{% url 'profile' %}">
        <i class="fa fa-user" aria-hidden="true"></i> User Profile
      </a>
    </li>
    <li>
      <a href="{% url 'add_item' %}">
        <i class="fa fa-plus-square" aria-hidden="true"></i> Add Trade Item
      </a>
    </li>
    <li>
      <a href="{% url 'traded_items' %}">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i> Trade Bag
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-envelope" aria-hidden="true"></i> Message Inbox
      </a>
    </li>
    <li>
      <a href="{% url 'market' %}">
        <i class="fa fa-map-marker" aria-hidden="true"></i> Back to Market
      </a>
    </li>
    <li>
      <a href="{% url 'settings' %}">
        <i class="fa fa-cog" aria-hidden="true"></i> Profile Settings
      </a>
    </li>
    <li>
      <a href="{% url 'logout' %}">
        <i class="fa fa-sign-out" aria-hidden="true">Sign Out</i>
      </a>
    </li>
  </div>
</div>

<!-- S I D E B A R -->
<div id="sidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
  <li>
    <a href="{% url 'profile' %}">
      <i class="fa fa-user" aria-hidden="true"></i> User Profile
    </a>
  </li>
  <li>
    <a href="{% url 'add_item' %}">
      <i class="fa fa-plus-square" aria-hidden="true"></i> Add Trade Item
    </a>
  </li>
  <li>
    <a href="{% url 'traded_items' %}">
      <i class="fa fa-shopping-bag" aria-hidden="true"></i> Trade Bag
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-envelope" aria-hidden="true"></i> Message Inbox
    </a>
  </li>
  <li>
    <a href="{% url 'market' %}">
      <i class="fa fa-map-marker" aria-hidden="true"></i> Back to Market
    </a>
  </li>
  <li>
    <a href="{% url 'settings' %}">
      <i class="fa fa-cog" aria-hidden="true"></i> Settings
    </a>
  </li>
  <li>
    <a href="{% url 'logout' %}">
      <i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out
    </a>
  </li>
</div>

<!-- S E T T I N G S   F O R M -->
<div class="content" id="content">
  <h1 class="form-title">Settings</h1>
  <div class="form-container">
    <form action="" method="post" enctype="multipart/form-data" class="form">
      {% csrf_token %}
      <div class="form-container">
        {{user_form.as_p}}
        {{profile_form.as_p}}
      </div>
      <p style="display: flex; justify-content: flex-end; margin-top: 32px;"><input type="submit" value="Update" class="btn"></p>
    </form>
  </div>
</div>

<script type="text/javascript">
document.getElementById('nav-btn').addEventListener('click', function() {
  document.getElementById('mobile-nav--links').classList.toggle('active');
})

var mini = true;
function toggleSidebar() {
  if (mini) {
    // open sidebar
    document.getElementById('sidebar').style.width = '180px';
    document.getElementById('content').style.marginLeft = '180px';
    this.mini = false;
  } else {
    // close sidebar
    document.getElementById('sidebar').style.width = '48px';
    document.getElementById('content').style.marginLeft = '48px';
    this.mini = true;
  }
}
</script>

</body>
</html>