body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.rating .fa { color: #898989; }

/* * * * * H E A D E R * * * * */
.header {
  z-index: 1;
  position: fixed;
  background: white;
  padding: 20px;
  width: 100%;
  top: 0;
  height: 30px;
}

.logo img{
  width: 100px;
  height: 40px;
}

/* * * * * N A V I G A T I O N   B A R * * * * */
.sidebar {
  z-index: 1;
  top: 0;
  background: #898989;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 48px;
  height: 100%;
  transition: 0.5s;
  overflow-x: hidden;
  white-space: nowrap;
}

.sidebar a {
  color: white;
  display: block;
  width: 100%;
  line-height: 40px;
  text-decoration: none;
  padding-left: 20px;
  box-sizing: border-box;
  transition: 0.5s;
}

.sidebar li {
  list-style-type: none;
  margin-top: 10px;
}

.sidebar a:hover {
  background: #d9d9d9;
  color: #282828;
}

.sidebar i {
  padding-right: 10px;
  width: 20px;
  height: 5px;
}

.mobile-nav { display: none; }

.content {
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 48px;
  transition: 0.5s;
}

.content p {
  padding: 15px;
  margin-bottom: 10px;
  font-size: 18px;
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .sidebar { display: none; }

  .content {
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0;
  }

  .mobile-nav {
    display: block;
    width: 100%;
  }

  .nav-icon {
    background: #898989;
    width: (100% - 0px);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav-btn {
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;    
  }

  .nav-btn:hover { color: #282828; }

  .mobile-nav--links {
    background: #898989;
    display: none;
  }

  .mobile-nav--links li { list-style-type: none; }

  .mobile-nav--links a {
    color: white;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;    
  }

  .mobile-nav--links a:hover {
    background: white;
    color: #282828;
  }

  .mobile-nav--links i { padding-right: 10px; }

  .active { display: block; }
}

/* * TRADED_ITEMS.HTML * */
.table-title {
  width: 80%;
  margin-left: 36px;
}

.item-table {
  width: 80%;
  border-collapse: collapse;
  margin-left: 36px;
  margin-right: auto;
}

.item-image {
  padding: 8px;
}

.item-image img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.item-table th {
  text-align: left;
  padding: 5px;
  color: white;
  background: #898989;
  font-weight: normal;
}

.item-table--rule {
  width: 80%;
  margin-left: 36px;
  margin-right: auto;
  border-top: 3px solid #898989;

}

.total-items {
  width: 80%;
  margin-left: 36px;
  margin-right: auto;
  text-align: right;
}

.total-items span {
  font-weight: 700;
}

.delete-btn,
.accept-btn,
.cancel-btn,
.update-btn {
  border: none;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 64px;  
  cursor: pointer;
}

.delete-btn { background-color: red; }
.accept-btn { background-color: green; }
.cancel-btn,
.update-btn {
  color: #898989;
  background-color: none;
}

.item-display img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: contain;
}